
* {
  box-sizing: border-box;
}
a,
.portfolio,
.my-name {
  text-decoration: none;
  color: #4a4a4a;
  font-weight: 700;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Work Sans', sans-serif;
  color: #4a4a4a;
  background-color: #fafafa;
  margin: 0;
}
main {
  background-color: #fff;
  width: 95vw;
  margin: auto;
}
.main-info p,
.footer p {
  font-size: 1.5rem;
}
.main-header,
.main-nav,
nav,
.main-section,
.secondary-section,
.main-info,
.portfolio,
.skills,
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.big {
  display: none;
}
.main-nav a {
  display: block;
  background-color: #fff;
  padding: 10px;
  margin: 5px 15px;
  border-radius: 5%;
}
.main-nav,
.foot-contact,
.foot-nav {
  padding-left: 0;
}
.main-image {
  max-width: 50vh;
  align-self: center;
}
.portfolio,
.skills {
  margin: 1rem;
}
.img {
  width: 100%;
}
.section-name {
  font-size: 1.2rem;
  margin: 3.5rem;
}
.col h2{
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}
.col p {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 500;
}
footer p,
.foot-contact,
.foot-nav {
  display: flex;
  width: 90vw;
  align-self: center;
}
.foot-contact {
  flex-direction: column;
}
.foot-contact li{
  padding-top: 20px;
  align-self: center;
}
.foot-contact a {
  padding-left: 15px;
}
.foot-nav {
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0;
  margin-top: 4rem;
  border-top: solid rgba(33,33,33,.3) 1px;
}


/*========================
MEDIA QUERIES
=========================*/

@media screen and (min-width: 768px) {
  .main-nav,
  .main-info,
  .main-section,
  .secondary-section {
    flex-direction: row;
  }
  .main-nav a {
    display: inline-block;
    background-color: rgba(0,0,0,0);
    padding: 10px;
    margin: 5px 15px;
  }
  .main-info p {
    order: -1;
    text-align: left;
    padding-right: 20px;
    margin-bottom: 60px;
  }
  .main-section,
  .secondary-section {
    display: flex;
    flex-wrap: wrap;
  }
  .col {
    flex-basis: 50%;
    padding: 10px;
  }
}

@media screen and (min-width: 1024px) {
  
  .main-header {
    max-width: 85vw;
    padding-top: 30px;
    margin: auto;
  }
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .main-info {
    margin: auto;
  }
  .main-image {
    min-width: 35vw;
    margin-bottom: 30px;
  }
  .small {
    display: none;
  }
  .big {
    display: inline-block;
  }
  .my-name {
    align-self: flex-start;
  }
}