
* {
  box-sizing: border-box;
}
a,
.portfolio,
.my-name {
  text-decoration: none;
  color: #4a4a4a;
  font-weight: 700;
}
.footy a,
.main-nav a {
  transition: box-shadow .3s;
  border-radius: 10px;
}
.footy a:hover,
.main-nav a:hover {
  box-shadow: 0 0 11px rgba(100,100,100,.3);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Work Sans', sans-serif;
  color: #4a4a4a;
  background-color: #fafafa;
  margin: 0;
}
.skills {
  font-family: 'Montserrat', sans-serif;
}
main {
  background-color: #fff;
  width: 95%;
  padding: 40px 0;
  margin: auto;

}
.main-info p,
.footer p,
.foot-contact {
  font-size: 1.5rem;
}
section p {
  font-size: 1.4rem;
}
.main-header,
.main-nav,
nav,
.main-section,
.secondary-section,
.main-info,
.portfolio,
.skills,
.footer,
.footer-navigation {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.name {
  font-size: 2rem;
  padding: 10px;
}
.main-nav a {
  display: block;
  background-color: #fff;
  padding: 14px;
  margin: 5px 15px;
  border-radius: 5%;
}
.main-nav {
  margin-bottom: 30px;
}
.main-nav,
.foot-contact {
  padding-left: 0;
}
.main-image {
  max-width: 60%;
  align-self: center;
}
.portfolio,
.skills {
  margin: 1rem;
}
.img {
  width: 100%;
}
.section-name {
  font-size: 1.3rem;
  margin: 3.5rem;
}
.col h2{
  margin: 35px 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.col p {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 500;
}
.col img {
  margin-top: 30px;
}
footer p,
.foot-contact,
.footer-navigation {
  display: flex;
  max-width: 1200px ;
  align-self: center;
  margin: auto;
}
.foot-contact {
  flex-direction: column;
}
.foot-contact li{
  padding-top: 20px;
  align-self: center;
}
.big {
  display: none;
}
.foot-contact a {
  padding-left: 15px;
}
.footer-navigation {
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0;
  margin-top: 4rem;
  border-top: solid rgba(33,33,33,.2) .3px;
}
.footy {
  margin: auto 0;
}
.foot-contact p {
  margin-bottom: 30px;
}


/*========================
MEDIA QUERIES
=========================*/

@media screen and (min-width: 768px) {
  .main-nav,
  .main-info,
  .main-section,
  .secondary-section {
    flex-direction: row;
  }
  .main-image {
    width: 50%;
    margin-left: 30px;
  }
  .main-nav a {
    display: inline-block;
    background-color: rgba(0,0,0,0);
    padding: 10px;
    margin: 5px 15px;
  }
  .main-info p {
    order: -1;
    text-align: left;
    padding-right: 20px;
    margin-bottom: 60px;
  }
  .main-section,
  .secondary-section {
    display: flex;
    flex-wrap: wrap;
  }
  .col {
    flex-basis: 50%;
    padding: 10px;
  }
}

@media screen and (min-width: 1024px) {
  
  .main-header {
    max-width: 85%;
    padding-top: 30px;
    margin: auto;
  }
  main{
    max-width: 1350px;
    border-radius: 10px;
  }
  .header-container,
  .portfolio-container,
  .skills-container {
  max-width: 1200px;
  margin: auto;
  }
  .name {
    padding: 5px;
  }
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .main-nav {
    margin: auto 0;
  }
  .main-info {
    margin: auto;
  }
  .main-image {
    min-width: 40%;
    margin-bottom: 30px;
  }
  .col {
    flex-basis: 33%;
    padding: 10px;
  }
  .footer p {
    max-width: 40%;
    margin-bottom: 30px;
  }
  .small {
    display: none;
  }
  .big {
    display: inline-block;
  }
  .my-name {
    align-self: flex-start;
  }
  .footy a {
    padding: 5px 10px 5px 10px;
  }
}
